@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* importing font style from google fonts*/
*{
    color:rgb(32,33,36);
}
nav{
    padding:6px;
    display: block;
    height:60px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-end; /* Aligns list to the end of the flex-box */
}
nav ul li{
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    font-size: 15px;
}
nav ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.logo{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo img{
    height: 92px;
    max-height: 290px;
    min-height: 72px;
}
.search-container{
    padding: 5px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 50px;
}
.search{
    display:flex;
    padding: 5px;
}
svg{
    width:22px;
    height:22x;
    margin-right: 10px;
}
#search-input{
    width:500px;
    line-height: 22px;
    border: none;
}
#search-input:focus{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}
.search-container:hover{
    box-shadow: 1px 1px 10px rgb(211, 217, 225);
    transition-delay: 0.1s;
}
.button-container{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    margin:11px 4px;
    padding:8px 16px;
    background-color: rgb(249, 249, 249);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 4px;
    border:1px solid rgb(249, 249, 249);
}
.btn:hover{
    cursor: pointer;
    border-color: rgb(227, 221, 221);
    transition-delay: 0.1s;
}
#images{
    color:rgb(66,133,244);
    font-size: 18px;margin-left: -60px;
    font-family: Arial, Helvetica, sans-serif;
}
/* media query for responsive index page at smaller screen breakpoints. */
@media (max-width:768px){
    #search-input{
        width:300px;
    }
    .btn{
        font-size: 10px;
        padding:8px 8px;
    }
    nav ul li a{
        font-size: 12px;
    }
}
@media (max-width:426px){
    #search-input{
        width:200px;
        line-height: 18px;
    }
    .btn{
        font-size: 8px;
        margin:4px 4px;
        padding:4px 4px;
    }
    nav ul li a{
        font-size: 10px;
    }
    .logo img{
        height: 72px;
    }
    #images{
        font-size: 15px;
        margin-left: 155px;
    }
}