{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1> Create New Page </h1>
    <form action="{% url 'entry_making' %}" method="post">
        {% csrf_token %}
        <h6> Title :</h6>
        <input type="text" name="title">
        <br><br>
        <h6> Markdown Content :</h6>
        <textarea name="description" style="height:400px;"></textarea>
        <br><br>
        <input type="submit" value="Create">
    </form>
{% endblock %}