{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1> Edit Entry </h1>
    <form action="{% url 'save' %}" method="post">
        {% csrf_token %}
        <h6> Title :</h6>
        <input type="text" name="title" value="{{title}}">
        <br><br>
        <h6> Markdown Content :</h6>
        <textarea name="description" style="height:400px;">{{content}}</textarea>
        <br><br>
        <input type="submit" value="Save">
    </form>
{% endblock %}