textarea {
    min-height: 400px;
}
.indi_mail{
    padding:5px 8px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
}
.left_p,.center_p,.right_p{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
}
.left_p{
    margin-right: 20px;
    font-weight: 700;
}
.right_p{
    margin-left: auto;
    color: gray;
}
.info_element span{
    font-weight: 700;
}
.info_element{
    border-bottom: 1px solid rgb(212, 209, 209);
    margin-bottom: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
}
#reply{
    margin-top: 10px;
}
